body {
    background-color: rgb(204, 204, 204);
}

h1, h2 {
    text-align: center;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration-line: none;
    color: #333;
}

.container {
    border: 3px solid #888;
    border-radius: 14px;
    background: #fff;
    margin: 16px auto;
    width: 95%;
    padding: 18px;
    box-sizing: border-box;
}

.player_one, .player_two {
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 10px;
    margin: 10px auto;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.audio-label {
    display: block;https://www.svgrepo.com/show/345223/three-dots-vertical.svg
    text-align: left;
    font-weight: bold;
    margin: 15px 0 8px 8px;
}
